#products
  .loader
    display block
    margin 150px auto
  .blog_button_load_more
    position relative
    padding 10px 20px
    height 50px
    width 250px
    background-color white
    border none
    left 50%
    margin-left -125px
    text-transform uppercase
    color #EF1B23
    font-size 18px
    outline
    margin-top: -20px;
    margin-bottom: 40px;
    &:hover
      color gray
