#home
  *
    margin 0
    padding 0

  section
    height 300px
    border-top 1px solid #000
    border-bottom 1px solid #000

  footer
    display flex
    justify-content space-around
    align-items center
    padding 40px 70px 60px
    background-color #4C4D4F

    .contacts_footer
      list-style none
      text-align center

      li
        padding 5px 0
        color #fff

    .social
      display flex
      padding-bottom 60px
      
      .link
        display block
        width 30px
        height 30px
        border-radius 100%
        background-color #AAADB7
        margin 5px
