#ourBlog
  max-width 960px
  margin 0 auto
  padding 50px 0
  .blog_button_load_more
    position relative
    padding 10px 20px
    height 50px
    width 250px
    background-color white
    border none
    left 50%
    margin-left -125px
    text-transform uppercase
    color #EF1B23
    font-size 18px
    outline none
    &:hover
      color gray
  .flex
    display flex
    align-items center
    padding-bottom 20px
    padding-left 18px
    h1
      font-size 40px
      width 100px
      color #E41A27
    form
      display flex
      align-items center
      [type='search']
        height 36px
        background-color #EBEBEB
        border-color transparent
        text-indent 20px
      button
        height 36px
        width 36px
        border none
        background-color #7D7D7D
        cursor pointer

  .blog_item
    display -webkit-flex
    display -ms-flex
    display flex
    flex-direction column
    position relative
    padding 50px 80px 30px

  .shadow
    margin 0 20px 30px
    -webkit-box-shadow -1px -1px 18px -4px rgba(0,0,0,0.75)
    -moz-box-shadow -1px -1px 18px -4px rgba(0,0,0,0.75)
    box-shadow -1px -1px 18px -4px rgba(0,0,0,0.75)

  .labeles
    position absolute
    top 4%
    right -1%
    font-size 15px
    width 70px
    height 25px
    text-align center
    line-height 25px
    background #EF1B23
    color #fff

  .date
    padding 5px 0 10px
    font-size 15px
    color #999

  .blog_title
    font-size 24px
    padding 5px 0
    border-bottom 2px solid #F0F0F0
    margin-bottom 10px

  .blog_text
    p
      font-size 17px
      padding 7px 0
      color #737373

  .blog_link
    padding 10px 0
    display flex
    justify-content space-between

  .read
    font-size 17px
    padding 5px 0
    cursor pointer
    text-decoration none
    text-transform uppercase
    color #c00
  .read:hover
    color #999
  .hashtag
    a
      font-size 17px
      padding 0 5px
      text-decoration none
      color #999
  .pic
    display flex
    justify-content: center;
    align-items center
    height 300px
    border-bottom 1px solid #000
    .video
      border-color transparent

  nav
    display flex
    justify-content center
    ul
      display flex
      height 30px
      li
        list-style-type none
        a
          font-size 18px
          display block
          margin 0 5px
          text-decoration none
          color #646464
        a:hover
          position relative
          top -3px
          width 30px
          height 30px
          text-align center
          line-height 30px
          border-radius 100%
          background-color #EF1B23
          color #fff

@media screen and (min-width: 320px) and (max-width: 1023px)
  #ourBlog
    .labeles
      right 5%
    .read
      font-size 19px
@media screen and (min-width: 320px) and (max-width: 768px)
  .hashtag
    display none
