*
  font-family 'Open Sans', Arial, sans-serif;
#header
  display flex
  justify-content center
  background-color #EDEDED
  *
    margin 0
    padding 0
  .wrapper
    display flex
    align-items center

    .logo
      margin-right 10px

    .menu
      margin 0 10px
      display flex
      align-items center
      justify-content center
      flex-wrap wrap

    ul
      list-style none

      .menu_item
        padding 8px 5px

        .menu_link
          font-size 14px
          padding 0 10px
          text-decoration none
          color #333
        .menu_link:hover
          color #c00
        .active
          padding 0 6px
          display block
          height  25px
          line-height 25px
          border-radius 15px
          background-color #c00
          color #fff
        .active:hover
          color #fff

  .cole
    margin 0 10px
    width 150px
    height 30px
    background-color #DE030E
    border-radius 17px
    color #fff
    border none
    cursor pointer
  .cole:hover
    background-color #c33
  .cole:active
    background-color #900
    outline none
  .cole:focus
    outline none

  .contact
    padding 15px 0 15px 10px

  .contact_item
    font-size 14px
    padding 5px 0
