#contactForm
  display flex
  flex-direction column
  justify-content center
  flex-grow 1
  align-items center
  min-height 100vh
  background-color rgba(0,0,0,0.6)

  form
    width 40%
    padding 25px 30px 35px
    -webkit-box-shadow -1px -1px 18px -4px rgba(0,0,0,0.75)
    -moz-box-shadow -1px -1px 18px -4px rgba(0,0,0,0.75)
    box-shadow -1px -1px 18px -4px rgba(0,0,0,0.75)
    background-color #fff
    h3
      padding 5px 0
    .question
      padding 5px 0 10px
      margin-bottom 10px
      color #5A5A5A
      border-bottom 1px solid #DECFC5
    .flex_input
      display flex
      width 100%
      justify-content space-between
    .short
      width 48%
    p
      padding 10px 0
      [type='text']
        width 100%
    [type='text']
    [type='tel']
      border none
      background-color #F8F9FD
      height 25px
    textarea
      width 100%
      background-color #F8F9FD
      border none
      height 80px
    [type='submit']
      margin 10px
      border none
      background transparent
      text-transform uppercase
      color #E00713
      cursor pointer
  .google_map
    height 300px
    border-top 1px solid #000
    border-bottom 1px solid #000
