#blog
  max-width 768px
  margin 0 auto
  *
    margin 0
    padding 0
  .flex
    display flex
    align-items center
    padding-bottom 20px
    h1
      width 100px
      color #E41A27
    form
      display flex
      [type='text']
        height 25px
        background-color #EBEBEB
        border-color transparent
      button
        height 29px
        width 25px
        border-color transparent
        background-color #7D7D7D
  .blog_item
    position relative
    padding 50px 80px 30px
  .shadow
    margin 0 0 30px
    -webkit-box-shadow -1px -1px 18px -4px rgba(0,0,0,0.75)
    -moz-box-shadow -1px -1px 18px -4px rgba(0,0,0,0.75)
    box-shadow -1px -1px 18px -4px rgba(0,0,0,0.75)
    .label
      position absolute
      top 4%
      left 93%
      width 65px
      height 23px
      text-align center
      line-height 23px
      background #EF1B23
      color #fff
    .date
      padding 5px 0 10px
      font-size 12px
      color #C5C5C5
    h2
      padding 5px 0
      border-bottom 2px solid #F0F0F0
      margin-bottom 10px
    p
      padding 7px 0
      color #737373
    .blog_link
      padding 10px 0
      display flex
      justify-content space-between
      .read
        padding 5px 0
        text-decoration none
        text-transform uppercase
        color #EF1B23
      .hashtag
        a
          padding 0 5px
          text-decoration none
          color #C5C5C5
    .pic
      display flex
      justify-content: center;
      align-items center
      height 300px
      border-bottom 1px solid #000
      .video
        border-color transparent
  nav
    display flex
    justify-content center
    ul
      display flex
      height 20px
      li
        list-style-type none
        a
          display block
          margin 0 5px
          font-size 10px
          text-decoration none
          color #646464
        a:hover
          position relative
          top -3px
          width 20px
          height 20px
          text-align center
          line-height 20px
          border-radius 100%
          background-color #EF1B23
          color #fff
