#content
  *
    margin 0
    padding 0

  .content_item
    display flex
    justify-content space-around

    article
      display flex
      flex-direction column
      align-items center
      width 25%

      .catalog
        width 120px
        height 30px
        font-size 12px
        background-color #DE030E
        border-radius 17px
        color #fff
        border-color transparent
        margin-bottom 20px
    
      h3
        display block
        width 150px
        text-align center
        padding 10px 0

      .goods_item
        list-style none

        a
          text-decoration none
          color #518ABE

    .question
      width 35%

      p
        text-align center
        font-size 18px
        padding-bottom 15px

        span
          font-size 21px

      .consultation
        width 180px
        height 30px
        border-color transparent
        background-color #DE030E
        border-radius 17px
        color #fff
        font-size 12px

    .contacts
      width 35%

      .contacts_list
        list-style none

        li
          padding 5px 0 5px 20px

  .top
    margin 40px 100px

  .bottom
    margin 0 90px 70px 90px
