#content
  margin 0 auto
  max-width 960px
  padding 40px 0 90px
  *
    margin 0
    padding 0

  .content_item
    padding 50px 0
    display flex
    justify-content space-around

    article
      display flex
      flex-direction column
      align-items center
      width 25%

      .catalog
        width 120px
        height 30px
        font-size 12px
        background-color #DE030E
        border-radius 17px
        color #fff
        border none
        margin-bottom 20px
        cursor pointer
      .catalog:hover
        background-color #c33
      .catalog:active
        background-color #900
        outline none
      .catalog:focus
        outline none

      h3
        font-size 26px
        text-align center
        padding 10px 0

      .goods_item
        list-style none

        a
          font-size 18px
          text-decoration none
          color #518ABE

    .question
      width 40%

      p
        text-align center
        color #666
        font-size 22px
        padding-bottom 15px

        span
          font-size 21px

      .consultation
        width 180px
        height 30px
        border none
        background-color #DE030E
        border-radius 17px
        color #fff
        font-size 12px
        cursor pointer
      .consultation:hover
        background-color #c33
      .consultation:active
        background-color #900
        outline none
      .consultation:focus
        outline none

    .contacts
      width 40%

      .contacts_list
        list-style none

        li
          padding 5px 0 5px 40px
          p
            font-size 22px
            color #666
            .our_site
              text-decoration none
              color #999
            .our_site:hover
              color #39c
            .our_site:active
              color #666
