#about
  *
    margin 0
    padding 0
    
  section
    display flex
    text-align center
    justify-content center
    align-items center
    flex-direction column
    padding 150px 0 10px
    border-top 1px solid #000
    border-bottom 1px solid #000

    .title
      width 425px
      margin-bottom 100px

      h1
        font-size 35px
        padding 15px 0

    .catalog
      width 150px
      height 40px
      border-color transparent
      border-radius 17px
      margin-bottom 15px

    ul
      display flex
      list-style none
      padding 0

      li
        padding 3px


    .check
      display block
      box-sizing border-box
      width 15px
      height 15px
      background-color rgba(0,0,0,.4)
      border-radius 50%
