#ourBlog
  max-width 960px
  margin 0 auto
  padding 50px 0
  *
    margin 0
    padding 0
  .flex
    display flex
    align-items center
    padding-bottom 20px
    h1
      font-size 40px
      width 100px
      color #E41A27
    form
      display flex
      align-items center
      [type='search']
        height 32px
        background-color #EBEBEB
        border-color transparent
      button
        height 32px
        width 32px
        border none
        background-color #7D7D7D
        cursor pointer
  .blog_item
    position relative
    padding 50px 80px 30px
  .shadow
    margin 0 0 30px
    -webkit-box-shadow -1px -1px 18px -4px rgba(0,0,0,0.75)
    -moz-box-shadow -1px -1px 18px -4px rgba(0,0,0,0.75)
    box-shadow -1px -1px 18px -4px rgba(0,0,0,0.75)
    .label
      position absolute
      top 4%
      left 93%
      font-size 19px
      width 80px
      height 28px
      text-align center
      line-height 28px
      background #EF1B23
      color #fff
    .date
      padding 5px 0 10px
      font-size 21px
      color #999
    h2
      font-size 52px
      padding 5px 0
      border-bottom 2px solid #F0F0F0
      margin-bottom 10px
    p
      font-size 22px
      padding 7px 0
      color #737373
    .blog_link
      padding 10px 0
      display flex
      justify-content space-between
      .read
        font-size 29px
        padding 5px 0
        text-decoration none
        text-transform uppercase
        color #c00
      .read:hover
        color #999
      .hashtag
        a
          font-size 21px
          padding 0 5px
          text-decoration none
          color #999
    .pic
      display flex
      justify-content: center;
      align-items center
      height 300px
      border-bottom 1px solid #000
      .video
        border-color transparent
  nav
    display flex
    justify-content center
    ul
      display flex
      height 30px
      li
        list-style-type none
        a
          font-size 18px
          display block
          margin 0 5px
          text-decoration none
          color #646464
        a:hover
          position relative
          top -3px
          width 30px
          height 30px
          text-align center
          line-height 30px
          border-radius 100%
          background-color #EF1B23
          color #fff
