#catalog
  margin 0 auto
  max-width 960px
  padding 50px 0
  *
    margin 0
    padding 0

  .title
    font-size 30px
    padding 10px 0
    color #DE030E

  .line
    width 150px
    border-top 1px solid #222222
    margin-bottom 20px

  .content_item
    display flex
    justify-content space-between
    padding 5px 0 36px

    article
      display flex
      flex-direction column
      align-items center
      width 27%

      .catalog
        width 120px
        height 30px
        font-size 12px
        background-color #DE030E
        border-radius 17px
        color #fff
        border none
        margin-bottom 20px
        cursor pointer
      .catalog:hover
        background-color #c33
      .catalog:active
        background-color #900
        outline none
      .catalog:focus
        outline none

      h3
        font-size 26px
        text-align center
        padding 10px 0

      .goods_item
        list-style none

        a
          font-size 18px
          text-decoration none
          color #518ABE

  .grand_auto
    display flex
    flex-direction column
    align-items center
    padding-top 20px
    .grand_info
      padding 20px 0
      h2
        font-size 40px
        padding 5px 0 0
        text-align center
      p
        color #666
        font-size 22px
        padding 5px 0
