*
  margin 0
  padding 0
#catalog
  padding 40px 150px

  .title
    padding 10px 0
    color #DE030E

  .line
    width 150px
    border-top 1px solid #222222
    margin-bottom 20px

  .content_item
    display flex
    justify-content space-between
    padding 5px 0 36px

    article
      display flex
      flex-direction column
      align-items center
      width 25%

      .catalog
        width 120px
        height 30px
        font-size 12px
        background-color #DE030E
        border-radius 17px
        color #fff
        border-color transparent
        margin-bottom 20px

      h3
        display block
        width 150px
        text-align center
        padding 10px 0

      .goods_item
        list-style none

        a
          text-decoration none
          color #518ABE

  .grand_auto
    display flex
    flex-direction column
    align-items center
