#about
  position relative
  .caption_item
    bottom 40%
    width 48%
    left 25%

  .caption_title
    font-size 50px

  .caption_text
    font-size 19px

  .catalog
    position absolute
    left 43%
    bottom 17%
    width 180px
    height 44px
    border none
    border-radius 22px
    cursor pointer
    background-color rgba(255,255,255,0.7)
    -webkit-box-shadow: 0px 10px 41px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 41px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 41px -9px rgba(0,0,0,0.75);
    color #000

  @media screen and (min-width: 320px) and (max-width: 639px)
    .caption_title
      font-size 30px

    .caption_text
      display none

    .catalog
      display none

  @media screen and (min-width: 640px) and (max-width: 767px)
    .catalog
      left 38%

    .caption_title
      font-size 34px

  @media screen and (min-width: 768px) and (max-width: 959px)
    .catalog
      left 39%

    .caption_title
      font-size 38px

  @media screen and (min-width: 960px) and (max-width: 1023px)
    .catalog
      left 39%

  .catalog:hover
    background-color rgba(255,255,255,0.5)
  .catalog:active
    background-color rgba(255,255,255,0.9)
    outline none
  .catalog:focus
    outline none
