
*
  margin 0
  padding 0
#aboutUs
  padding 50px 150px
  .foto
    display flex
    justify-content center
  .info
    padding 40px 50px 20px
    .title
      text-transform uppercase
      text-align center
    p
      padding 10px
