#product
  max-width 768px
  margin 0 auto
  padding 50px 0
  *
    margin 0
    padding 0
  .black_line
    width 127px
    border-bottom 1px solid #000
  h2
    letter-spacing 1px
    padding-bottom 12px
  .product_page
    display flex
    flex-direction column
    padding-bottom 40px
    h2
      padding 15px 0
      color #E00713
    img
      align-self center
      padding 30px 0
    .description
      align-self center
      width 75%
      h3
        padding 5px 0
      h4
        padding 0 0 5px
        color #868686
      p
        padding 5px 0
        color #666666
      .remark
        font-size 10px
        padding 0 0 5px
        color #BEBEBE
  .similar_products
    padding 30px 0
    display flex
    justify-content space-between
    article
      display flex
      flex-direction column
      align-items center
      width 26%
      img
        padding-bottom 5px
      div
        display flex
        flex-direction column
        align-items center
        padding 0 20px
        h3
          text-align center
          padding 5px 0
        h4
          padding 5px 0
          color #868686
        button
          margin 10px 0
          width 135px
          height 30px
          border none
          border-radius 15px
          background-color #E1010F
          font-size 12px
          color #fff
          cursor pointer
