@media only screen and (min-width: 48em)
  .container
    width: 61rem !important

@media only screen and (min-width: 64em)
  .container
    width: 787px !important

@media only screen and (min-width: 75em)
  .container
    width 1024px !important




#product
  min-height 600px
  margin: 40px auto
  padding 50px 0

    margin 0
    padding 0
  .black_line
    width 127px
    border-bottom 1px solid #000
  h2
    letter-spacing 1px
    padding-bottom 12px
  .product_page
    padding-bottom 40px
    h2
      padding 15px 0
      color #E00713
    img
      display: block;
      padding 30px 0
      max-width: 720px;
      max-height: 650px;
      width: 100%;
      margin: 0 auto;
    .description

      align-self center
      h3
        padding 5px 0
      h4
        padding 0 0 5px
        color #868686
      p
        padding 5px 0
        color #666666
      .remark
        font-size 10px
        padding 0 0 5px
        color #BEBEBE
  .similar_products
    margin 10px 0;
    article
      box-shadow: -1px -1px 18px -4px rgba(0,0,0,0.75);
      background-color #ededed
      margin-top 15px
      margin-bottom 15px
      position relative
      min-height 320px
      img
        position relative
        display: block
        margin: 0 auto
        max-width 220px
        width 90%
        height 170px
        padding-bottom 5px
        padding-top 10px
      div
        padding 0 20px
        h4
          text-align center
          padding 5px 0
        h5
          text-align center
          padding 5px 0
          color #868686
      a
        position absolute
        width 135px
        left 50%
        bottom 12px
        margin-left -62px
        height 30px
        padding-top 5px
        border none
        outline none
        border-radius 15px
        background-color #E1010F
        font-size 12px
        color #fff
        cursor pointer
        padding-left: 5px;
        &:hover,
          text-decoration none
        &:active
          text-decoration none
        &:focus
          text-decoration none
