#footer
  background-color #4C4D4F
  *
    margin 0
    padding 0

  .main_ftr
    display flex
    justify-content space-around
    flex-wrap wrap
    padding 40px 70px 16px

    .logo_ftr
      font-size 14px
      width 32%
      color #939395

    .rubric
      // width 25%

      .rubric_list
        list-style none
        a
          font-size 14px
          color #939395
          text-decoration none

        a:hover
          color #39c
        a:active
          color #666

    .contact_list
      list-style none
      font-size 14px
      color #939395
      li
        padding 5px 0
        .our_site
          text-decoration none
          color #999
        .our_site:hover
          color #39c
        .our_site:active
          color #666

    .titel
      text-transform uppercase
      padding-bottom 15px
      color #6D6D6F

  .sub_ftr
    display flex
    justify-content space-between
    flex-wrap wrap
    padding 30px 70px
    border-top 2px solid #242424
    border-bottom 8px solid #242424

    .controls
      display flex

      .controls_text
        background-color #2E2E2E
        height 30px
        width 230px
        border none

      .controls_submit
        border none
        width 33px
        height 30px
        background-color #7D7D7D
        cursor pointer
      .controls_submit:hover
        background-color #999
      .controls_submit:active
        background-color #c00
        color #fff

    .social_list
      display flex
      list-style none

      li
        padding 0 5px

      .link
        display block
        width 30px
        height 30px
        background-color #2E2E2E

  @media screen and (min-width: 640px) and (max-width: 768px)
    .rubric
      padding-bottom 30px

  @media screen and (min-width: 320px) and (max-width: 639px)
    .logo_ftr
      display none

    .rubric
      padding-bottom 30px

    .sub_ftr
      justify-content center

    .social
      margin-top 20px
